<!-- The Modal -->
<div class="modal fade" id="myModal" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">{{tieuDe}}</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="dong()">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <app-them-suaskdinhki [skdk]="skdk" *ngIf="dangThemSua"></app-them-suaskdinhki>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal2" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Upload file khám sức khỏe định kì</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="dong()">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <label for="file1">Upload File</label>
        <input type="file" class="form-control" #importcsv (change)="onFileSelected($event)" id="file1" name="file1" required>
   
      </div>
    </div>
  </div>
</div>

<div class="container">
    
    <div class="table-responsive">
        <h2 style="text-align: center;"> Danh sách sức khỏe định kì của học viên</h2>
        <div class="search-container">
          <form id="search-form">
              <input type="text" id="search-input" placeholder="Tìm kiếm...">
              <button type="submit" id="search-button">Tìm kiếm</button>
                <button type="button" class="btn btn-primary" style="margin-left: 50px;" data-toggle="modal" data-target="#myModal" (click)="themskdk()">
                  Tạo phiếu sức khỏe định kì
                </button>
                <a #downloadLink style="display: none;"></a>
                <button type="button" class="btn btn-primary" style="margin-left: 50px;" (click)="prepareDownload()">Tải file sức khỏe định kì</button>
                <button type="button" class="btn btn-primary" style="margin-left: 50px;" data-toggle="modal" data-target="#myModal2">
                  Upload File Y tế
                </button>
          </form>
      </div>
      <table class="table text-center">
       
        <thead>
          <tr>
            <th>Mã sức khỏe định kì</th>
            <th>Mã giáo viên</th>
            <th>Mã học viên</th>
            <th>Ngày kiểm tra</th>
            <th>Chiều cao</th>
            <th>Cân nặng</th>
            <th>Bệnh lý khác</th>
            <th>Ghi chú bác sỹ</th>
            <th>Ngày tạo</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let skdk of DsSKDK" >

            <td>{{skdk.skdkId}}</td>
            <td>{{skdk.magiaovien}}</td>
            <td>{{skdk.childResumeId}}</td>
            <td>{{ skdk.ngaykiemtra | date: 'dd/MM/yyyy' }}</td>
            <td>{{skdk.chieucao}}</td>
            <td>{{skdk.cannang}}</td>
            <td>{{skdk.benhlykhac}}</td>
            <td>{{skdk.ghichubacsy}}</td>
            <td>{{skdk.ngayTao | date: 'dd/MM/yyyy'}}</td>
            <td>
            
                        <button type="button"  class="btn btn-light mr-1" (click)="chitietSKDK(skdk)" data-toggle="modal" data-target="#myModal">
                    Sửa
                </button>
              
            </td>
            <td>
              <button type="button" class="btn btn-light mr-1" (click)="xoaskdk(skdk)" >
                Xóa
            </button>
            </td>
          </tr>
        
      </tbody>
    </table>
  </div>
  