<!-- The Modal -->
<div class="modal fade" id="myModal" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">{{tieuDe}}</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="dong()">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <app-them-suathucdon [td]="td" *ngIf="dangThemSua"></app-them-suathucdon>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="table-responsive">
    <h2 style="text-align: center;">Danh sách thực đơn</h2>
    <div class="search-container">
      <form id="search-form">
        <input type="text" id="search-input" placeholder="Tìm kiếm...">
        <button type="submit" id="search-button">Tìm kiếm</button>
        <button type="button" class="btn btn-primary" style="margin-left: 50px;" data-toggle="modal" data-target="#myModal" (click)="themtd()">
          Thêm thực đơn
        </button>
      </form>
    </div>
    <table class="table text-center">
      <thead>
        <tr>
          <th>Mã thực đơn</th>
          <th>Ngày bắt đầu</th>
          <th>Ngày kết thúc</th>
          
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let td of DsTD">
          <td>{{ td.menuId }}</td>
          <td>{{ td.ngaybatdau | date: 'dd/MM/yyyy' }}</td>
          <td>{{ td.ngayketthuc | date: 'dd/MM/yyyy'}}</td>
        
          <td>
            <button type="button" class="btn btn-light mr-1" (click)="chitiettd(td)" data-toggle="modal" data-target="#myModal">
              Sửa
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-light mr-1" (click)="xoathucdon(td)">
              Xóa
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>