<app-navbar></app-navbar>
<!-- The Modal -->
<div class="modal fade" id="myModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">{{tieuDe}}</h4>
          <button type="button" class="close" data-dismiss="modal" (click)="dong()">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <app-them-suathoikhoabieu [tkb]="tkb" *ngIf="dangThemSua"></app-them-suathoikhoabieu>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container">
      
      <div class="table-responsive">
          <h2 style="text-align: center;"> Danh sách thời khóa biểu các lớp</h2>
          <div class="search-container">
            <form id="search-form">
                <input type="text" id="search-input" placeholder="Tìm kiếm...">
                <button type="submit" id="search-button" >Tìm kiếm</button>
                <button type="button" class="btn btn-primary" style="margin-left: 50px;" data-toggle="modal" data-target="#myModal" (click)="themtkb()">
                    Thêm thời khóa biểu
                  </button>
            </form>
        </div>
        <table class="table text-center">
         
          <thead>
            <tr>
              <th>Mã thời khóa biểu</th>
              <th>Mã lớp</th>
              <th>Mã giáo viên</th>
              <th>Ngày bắt đầu</th>
              <th>Ngày kết thúc</th>
             
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tkb of DsTKB" >
              <td>{{tkb.matkb}}</td>
              <td>{{tkb.classId}}</td>
              <td>{{tkb.magiaovien}}</td>
              <td>{{tkb.ngaybatdau| date: 'dd/MM/yyyy'}}</td>
              <td>{{tkb.ngayketthuc| date: 'dd/MM/yyyy'}}</td>
              <td>
            
                <button type="button"  class="btn btn-light mr-1" (click)="chitiettkb(tkb)" data-toggle="modal" data-target="#myModal">
            Sửa
        </button>
      
    </td>
    <td>
      <button type="button" class="btn btn-light mr-1" (click)="xoathoikhoabieu(tkb)" >
        Xóa
    </button>
    </td>
            </tr>
         
        </tbody>
      </table>
    </div>