<!-- The Modal -->
<div class="modal fade" id="myModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">{{tieuDe}}</h4>
          <button type="button" class="close" data-dismiss="modal" (click)="dong()">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <app-them-suaykien [yk]="yk" *ngIf="dangThemSua"></app-them-suaykien>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="table-responsive">
      <h2 style="text-align: center;">Danh sách ý kiến phụ huynh</h2>
      <div class="search-container">
        <form id="search-form">
          <input type="text" id="search-input" placeholder="Tìm kiếm...">
          <button type="submit" id="search-button">Tìm kiếm</button>
          <button type="button" class="btn btn-primary" style="margin-left: 50px;" data-toggle="modal" data-target="#myModal" (click)="themyk()">
            Thêm  ý kiến
          </button>
        </form>
      </div>
      <table class="table text-center">
        <thead>
          <tr>
            <th>Mã ý kiến</th>
            <th>Mã chủ đề</th>
            <th>Mã phụ huynh</th>
            <th>Ghi chú ý kiến</th>
            <th>Giải pháp</th>
            
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let yk of DsYK">
            <td>{{ yk.opinionId }}</td>
            <td>{{ yk.machude }}</td>
            <td>{{ yk.parentResumeId }}</td>
            <td>{{ yk.noteOpinion }}</td>
            <td>{{ yk.giaiphap }}</td>
            <td>
              <button type="button" class="btn btn-light mr-1" (click)="chitietYK(yk)" data-toggle="modal" data-target="#myModal">
                Sửa
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-light mr-1" (click)="xoaykien(yk)">
                Xóa
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>